<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

  <body>

    <nav>

    <a href="/"><h1>Melollevo</h1></a>

    <div>
      <% if @current_user == nil %>
      <a href="/user_sign_in"><button>Log in</button></a>
      <a href="/user_sign_up"><button>Sign up</button></a>
      <% else %>
      <a href="/user_sign_out"><button>Log out</button></a>        
      <a href="/listings"><button>Listings</button></a>
      <a href="/users/<%= @current_user.id %>"><button>User Profile</button></a>
      <a href="/users"><button>User Index</button></a>
      <a href="/edit_user_profile"><button>User settings</button></a>

      <% end %>
    </div>

    <div>
    <%= active_session = session.fetch(:user_id) %>
    </div>
    <hr>

    </nav>

    <% if notice.present? %>
      <div style="border: thin green solid; color: green">
        <%= notice %>
      </div>
    <% end %>
    <% if alert.present? %>
      <div style="border: thin red solid; color: red">
        <%= alert %>
      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
